<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
.jumbotron {
        color:black;background-color:#a9a9a96b;border-color: black;font-size: -webkit-xxx-large;
      }
      .back{
            background-size: cover; background-image:url('https://i.pinimg.com/originals/6d/15/4a/6d154adcb750853f0c7f712e28406193.jpg');
        }
        .jumbotronMsg
      {
        color:black;background-color:#a9a9a96b;border-color: black;font-size:medium;
      }
    </style>
  </head>

  <body class="back"> 
    <div class="container">
      <div class="jumbotron">
          <div>
              <img style="max-width: 100px;float: right;" src="https://www.mun.ca/apps/images/content/munmobile.png">
              Graduate Recruitment System
              
              <p style="text-align:right;">
                <a href="/logout" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
              </p>
             
            </div>
            </div>

      <div class="jumbotronMsg">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Admin Dashboard</h2><br/><br/>
            
            <ul class="list-group" >
                <% position.forEach(function(position){ %>
                  <li class="list-group-item">
                    <a href="/api/admin/position/<%= position.id%>">
                      <div class="list-group-item active" >
                          <div class="card-header"><%= position.level%></div>
                          <div class="card-body">
                            <h5 class="card-title"><%= position.title%></h5>
                            <p class="card-text"><%= position.description%></p>
                          </div>
                        </div>
                      </a></li>
                  <% })%>
              </ul>

            <form action="/api/admin/create" > 
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                >
                  Post New Position
                </button>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
