<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      .jumbotron {
        background-color: darkslategray;
        color: white;
      }
      .grey_color {
        background-color: #ffffff;
        color: #000000;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <div>
          <h1>Graduate Recruitment System</h1>
          <h2>Admin Panel</h2>
          <p style="text-align:right;">
            <a href="/logout" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>

            <a href="/" class="btn btn-success btn-lg" role="button">
              <span class="glyphicon glyphicon-log-out"></span> Home
            </a>
          </p>
        </div>
      </div>

      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Update post</h1>

            <form action="/api/admin/pos_update/<%=position.id%>" method="post">
              <div class="form-group">
                <label for="title">Title <span class="require">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  value="<%=position.title%>"
                />
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  rows="5"
                  class="form-control"
                  name="description"
                ><%=position.description%></textarea>
              </div>

              <div class="form-group">
                <label for="nop"
                  >No. of Positions <span class="require">*</span></label
                >
                <input
                  type="number"
                  class="form-control"
                  name="nop"
                  value="<%=position.number_of_positions%>"
                />
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Specialization</label
                  >
                </div>
                <select
                  class="grey_color"
                  id="inputGroupSelect01"
                  name="specialization"
                >
                  <option selected value="Electrical Engineering"
                    >Electrical Engineering</option
                  >
                  <option value="Mechanical Engineering"
                    >Mechanical Engineering</option
                  >
                  <option value="Computer Engineering"
                    >Computer Engineering</option
                  >
                  <option value="Software Engineering"
                    >Software Engineering</option
                  >
                  <option value="Computer Science">Computer Science</option>
                  <option value="Arts">Arts</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Position Level</label
                  >
                </div>
                <select class="grey_color" id="inputGroupSelect01" name="level">
                  <option value="PHD">PHD</option>
                  <option selected value="Masters">Masters</option>
                </select>
              </div>

              <div class="form-group">
                <p><span class="require">*</span> - required fields</p>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-default" href="/api/admin/dashboard">
                  Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
