<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      .jumbotron {
        background-color: darkslategray;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <div>
          <p style="text-align:right;">
            <a href="/logout" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
          </p>
        </div>
        <h1>Graduate Recruitment System</h1>
      </div>

      <div class="jumbotron">
        <div class="row">
          <p style="text-align:right;">
            <a
              href="/api/dashboard/offers"
              formmethod="get"
              class="btn btn-warning"
              role="button"
              >Admission Offers</a
            >
          </p>
          <div class="col-md-8 col-md-offset-2">
            <ul class="list-group">
              <% position.forEach(function(position){ %>
              <li class="list-group-item">
                <a href="/api/dashboard/positions/<%= position.id%>">
                  <div class="list-group-item active">
                    <div class="card-header"><%= position.level%></div>
                    <div class="card-body">
                      <h5 class="card-title"><%= position.title%></h5>
                      <p class="card-text"><%= position.description%></p>
                    </div>
                  </div>
                </a>
              </li>
              <% })%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
