<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      .jumbotron {
        color:black;background-color:#a9a9a96b;border-color: black;font-size: -webkit-xxx-large;
      }
      .back{
            background-size: cover; background-image:url('https://i.pinimg.com/originals/6d/15/4a/6d154adcb750853f0c7f712e28406193.jpg');
        }
    </style>
  </head>

  <body class="back">
    <div class="container">
      <div class="jumbotron" >
        <div>
          <p style="text-align:right;">
            <a href="/logout" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
          </p>
        </div>
        <img style="max-width: 100px;float: right;" src="https://www.mun.ca/apps/images/content/munmobile.png">
        Graduate Recruitment System
           
      </div>

      <div class="row">
        <div class="jumbotron">
          <h4>Login Successful</h4>
          <h4>Please proceed to dashboard <%=user_type=="A"%></h4>
          <% if(user_type=="A"){ %>
          <a
            type="submit"
            href="/api/admin/dashboard"
            class="btn-primary btn-lg"
            id="btn-dashboard"
            role="button"
          >
            Go to Dashboard
          </a>
          <% } else{ %>
          <a
            type="submit"
            href="/api/dashboard"
            class="btn-primary btn-lg"
            id="btn-dashboard"
            role="button"
          >
            Go to Dashboard
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
